{% extends 'base.html' %}
{% load static %}
{% block title %}Edit Profile{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'edit_profile.css' %}">
<div class="container mt-4">
    <h2>Edit Profile</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a href="{% url 'doctor_dashboard' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
